.rating {
    unicode-bidi: bidi-override;
    text-align: center;
    margin-top: -30px;
    margin-bottom: 50px;
    margin-left: -30px;
}

.rating>span {
    display: inline-block;
    position: relative;
    width: 1.1em;
    cursor: pointer;
    font-size: 2rem;
}

.rating>span:before {
    content: "\2605";
    position: absolute;
    color: gray;
}



.rating>span.selected:before,
.rating>span.hover:before {
    color: gold;
}


.rating input[type="radio"] {
    display: none;
}

