.jour {
  display: flex;
  margin-top: 20px;
  align-self: self-end;
}

.jour p:first-child {
  margin-bottom: 0;

}



@media (max-width: 576px) {
  .coma {
    display: none;
  }

  .jour {
    display: block;
  }

}

@media (max-width: 992px) {

}
