#notifModal {
    width: 400px;
    height: 100px;
    position: fixed;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#notifModal .modal-content {
    background-color: #fefefe;
    margin: 0 auto;
    /* Supprimez la marge supérieure */
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    position: absolute;
    /* Utilisez une position absolue pour centrer */
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    /* Utilisez la translation pour centrer */
}

#wrapper {
    width: 500px;
    margin: 0 auto;
    text-align: center;
}

#suppr{
    margin-top: 8vh;
}

#user-wrapper{
    display: flex;
    align-items: center;
    flex-direction: column;
}

#user-wrapper div {
    display: flex;
    align-items: center;
}

#user-wrapper p {
    margin-right: 20px;
    margin-top: 15px;
}



@media (max-width: 400px) {
    #notifModal {
        width: 90%;
    }
}